_xenia/cache_host/*
_xenia/content/45410829/Headers/*
_xenia/xenia.log
_xenia/content/45410829/00000001/RB1DISCCUSTOMPACKWITHUNEXPORTABLES
_xenia/content/45410829/00000002/*
_xenia/content/45410829/00000001/*
_xenia/content/45410869
_xenia/content/45410829
_xenia/x360ce.ini
_xenia/xinput1_1.dll
_xenia/xinput1_2.dll
_xenia/xinput1_3.dll
_xenia/xinput1_4.dll
_xenia/xinput9_1_0.dll
_xenia/recent.toml
_xenia/content/454108B1
_xenia/content/454108E7
_xenia/content/45410914
_xenia/content/575207F0

.DS_Store
*.pyc
*.tmp
*.ninja
.ninja_log

obj
out