name: CI

on: [push, pull_request]

jobs:
  build_xbox:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          find . -name "*_ps3" -type f -delete
          find . -name "ps3_*" -type f -delete
          dependencies/linux/arkhelper dir2ark ./_ark ./_build/xbox/gen -n "dxsl_xbox" -e -v 5 -s 4073741823
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: DXSL-Xbox
          path: _build/xbox

  build_ps3:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build ARK
        run: |
          chmod +x dependencies/linux/arkhelper
          chmod +x dependencies/linux/dtab
          chmod +x dependencies/linux/superfreq
          find . -name "*_xbox" -type f -delete
          find . -name "xbox_*" -type f -delete
          dependencies/linux/arkhelper dir2ark ./_ark ./_build/ps3/PS3_GAME/USRDIR/gen -n "main_ps3" -e -v 5 -s 4073741823
      
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: DXSL-PS3
          path: _build/ps3